<nav class="navbar navbar-expand-lg navbar-dark bg-dark ps-5">
    <div class="container-fluid ps-5">
      <a class="navbar-brand" href="/"><span class="display-4">
        Vulnerable
      </span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
       data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse me-5"
       id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto me-5">
            <li class="nav-item">
              <a class="nav-link active  h5" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active dropdown-toggle  h5" href="#" id="navbarDropdown" role="button" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SQL Injection
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!-- <a class="dropdown-item" href="/sql">Docs</a> -->
                <a class="dropdown-item  h5" href="/sql/playground">Playground</a>
                <a class="dropdown-item  h5" href="/sql/Tutorial">Tutorial</a>
              </div>
  
            </li>
            <li class="nav-item">
              <a class="nav-link active  h5" href="/spam-detect">Spam Detector</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active h5" href="/csrf">CSRF</a>
            </li>
            
            <% if (locals.acc_no) {%> 
              <li class="nav-item">
                <a class="nav-link active" href="/csrf/transfer">
                  <%- acc_no %> 
                </a>
              </li> 
            <% } %>

          </ul>
        </div>
      </div>
    </div>
  </nav>